@{
    ViewData["Title"] = "Index";
}
<header>
    <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></img></a>
    <div class = "Titulos">
    <h1>GRAN HERMANO</h1>
    <h3>"La casa más famosa del mundo"</h3>
    </div>

 <button><a href = '@Url.Action("Tutorial")'>Tutorial</a></button>
    <button><a href = '@Url.Action("Comenzar")'>Comenzar</a></button>
    <button><a href = '@Url.Action("Creditos")'>Créditos</a></button>
</header>
<div class="hero"><h1>Esto es, GRAN HERMANO</h1>
<button><a href='@Url.Action("Comenzar")'>JUGAR</a></button>
</div>
<div class="index">
<h1>¡Bienvenidos a Gran Hermano Scaperoom!</h1>
<p>En este desafío, te adentrarás en una experiencia única llena de intriga y emoción, donde cada rincón está lleno de secretos y pistas. Tu misión será resolver enigmas y superar pruebas para escapar de una casa llena de sorpresas y misterios. ¿Tienes lo que se necesita para descifrar los códigos y escapar antes de que el tiempo se agote? ¡La cuenta regresiva ha comenzado y solo los más astutos lograrán salir victoriosos! ¡Buena suerte!</p>
</div>
<div> 
    <img src = "~/santi.webp" alt = "img1"></img>
    <img src = "~/final.jpg" alt = "img2"></img>
    <img src = "~/casa.jpg" alt = "img3"></img>
</div>

