@{
    ViewData["Title"] = "Victoria";
}
<header>
    <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></img></a>
    <div class = "Titulos">
    <h1>GRAN HERMANO</h1>
    <h3>"La casa más famosa del mundo"</h3>
    </div>

 <button><a href = '@Url.Action("Tutorial")'>Tutorial</a></button>
    <button><a href = '@Url.Action("Comenzar")'>Comenzar</a></button>
    <button><a href = '@Url.Action("Creditos")'>Créditos</a></button>
</header>
<div class="Victoria">
    <h1>¡Ganaste!</h1>
    <h3></h3>
    <h2>Puntos: @ViewBag.Apoyo</h2>
    <h3>Lograste ganar el premio de la casa más famosa de Argentina. ¡Gracias por jugar este scape room, esperamos que hayan disfrutado la experiencia! ¡Esperamos verlos de nuevo pronto para más desafíos de escape room!</h3>
    <button><a href='@Url.Action("Comenzar")'>Volver a jugar 🔙​</a></button>
</div>

