@{
    ViewData["Title"] = "Victoria";
}
<header>
    <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></img></a>
    <div class = "Titulos">
    <h1>GRAN HERMANO</h1>
    <h3>"La casa más famosa del mundo"</h3>
    </div>

 <button><a href = '@Url.Action("Tutorial")'>Tutorial</a></button>
    <button><a href = '@Url.Action("Comenzar")'>Comenzar</a></button>
    <button><a href = '@Url.Action("Creditos")'>Créditos</a></button>
</header>
<div class="Victoria">
    <h1>¡¡FELICIDADES!!</h1>
    <h3>Luego de mucho esfuerzo y sacrificio, lograste ganar el premio de la casa más famosa de Argentina</h3>
    <h1>Apoyo: @ViewBag.Apoyo</h1>
    <h1>Tiempo total: @ViewBag.TiempoTotal</h1>
    <h2>¡Gracias por jugar esta increíble scape room, esperamos que hayan disfrutado la experiencia!</h3>
    <h2>¡Esperamos verlos de nuevo pronto para más desafíos de escape room!</h3>
</div>

